@{
    ViewData["Title"] = "Home Page For Student";
}

<div>
    <h1>Welcome to Linh's Website!</h1>
    <p>
        This small project is built using ASP.NET Core, SQL Server, Entity Framework, for COMP2084-Midterm-Exam
        at Georgian College.
    </p>
    <p>Resource available at <a href="https://github.com/dthuylinhh1/COMP2084-Midterm" alt="Visit GitHub page">https://github.com/dthuylinhh1/COMP2084-Midterm</a></p>
</div>
